@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
body{
    background-color: rgba(234, 234, 234, 1);
}

.box{
    text-align: center;
    width: 100%;
}

.navBar{
    background-color: rgb(148, 146, 146);
    width: 100%;
    height:70px;
    text-align: center;
    
}

.navBarCon{
    width: 90%;
    margin:auto;
}


.menud {
    display: none;
}

.menu:click .menud{
    display: inherit;
    position: absolute;
    background-color: black;
    
}



.logooff{
    font-weight: bold;
    color: rgb(243, 177, 53);
}

.options{
    float:right;

}


.contentbox1{
    width: 100%;
    text-align: center;
}

.offerts1{
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px;
    text-align: left;
}

.title{
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    border-bottom: 1px lightgray solid;
}

.subtitle{
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    border-bottom: 1px lightgray solid;
}

.section1{
    float:left;
    width:100%;
}

.offerts1 label{
    width: 40%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.offerts1 input, select{
    margin:auto;
    width: 60%;
    margin-bottom: 5px; 
    border: none;
    border-bottom: 1px solid gray;
}

.offerts1 select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../fotos/arrow.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 100%;
    background-position-y: 5px;

}

.offerts1 .arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../fotos/arrow.png");
    background-repeat: no-repeat;
    background-size: 4%;
    background-position-x: 100%;
    background-position-y: 0px;

}


.offerts1 input:focus{
    transform: scale(1.02);
    border-bottom: 2px solid blue;
    margin-bottom: 4px;
    
}

.subsection{
    float:left;
    width: calc(100% / 3);
    padding: 10px;
    
}



input[type="number"] {
    -moz-appearance: textfield;
}


.text{
    margin-top: 100px;
    padding: 10px;
}

textarea{
    width: 100%;
}

.but{
    float: right;
    margin-top: 10px;
}

.but button{
    background-color: rgb(243, 177, 53);
    color: white;
    border:none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    padding: 10px;

}
.addImage{
    float: left;
    width:40%;
}
.addButton{
    float: left;
    width:30%;
}
.inputImage{
    display: none;
}
