body{
    background-color: rgba(234, 234, 234, 1);
}

.formcontainer{
    text-align: center;
    width: 100%;
}

.formbox{
    margin: 40px auto;
    margin-bottom: 5px;
    width: 25%;
    height: auto;
    border: white solid 2px; 
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
}

.formboxre{
    margin:auto;
    width: 25%;
    height: auto;
    border: white solid 2px; 
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    text-align: center;
}

.formtext{
    width: 100%;
    margin-bottom: 20px; 
}


a:link{
    text-decoration: none;
}

p{
    margin-top: 17px;
    margin-bottom: 10px;
    text-align: left;
}

.log{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 1px;
}

a{
    font-size: 14px;
}


.rej1{
    text-align: right;
    margin: 0;
    margin-top: 15px;
    margin-bottom:3px;
    font-size: 14px;
    width: 41%;
    float:left;
}