body{
    background-color: rgba(234, 234, 234, 1);
}

.box1{
    width: 90%;
    background-color: white;
    margin: 20px auto;
    padding: 10px;

}

.messages{
    width: 80%;
    height: 450px;
    margin: auto;
    justify-content: center;
    overflow: auto;
    padding: 30px;
}

.messages .dialogbox1{
    width: 60%;
    background-color: rgb(40, 176, 255);
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    text-align: left;  
    justify-content: center;
    font-size:18px;  
}

.messages .nickname{
    color: gray;
    margin-bottom: -20px;
    text-align: left;
    margin-left: 220px;
}

.messages .dialogbox2{
    width: 60%;
    background-color: rgba(234, 234, 234, 1);
    margin: 20px ;   
    padding: 10px;
    margin-left: 400px;
    
}

.odpowiedz{
    margin-top: 10px;
    margin-bottom: 10px; 
}

.odpowiedz input{
    width: 40%;
    margin: 10px;
    border: none;
    border-bottom: 1px black solid;
    border-radius: 5px;
}

.odpowiedz input:focus{
    border-bottom: 2px rgb(40, 176, 255) solid;
}

.odpowiedz button{
    margin: 10px;
    border: 2px rgb(40, 176, 255) solid;
    border-radius: 10px;
    background-color: white;
    color: rgb(40, 176, 255);
    width: 100px;
    height: 35px;
}

.odpowiedz button:hover{
    background-color: rgb(40, 176, 255);
    color: white;
}



Button{
    margin: auto;

}

th:first-child{
    width: 70%;
}

tr:last-child{
    border-bottom: 2px rgb(231, 231, 231) solid;
}
