body{
    background-color: rgba(234, 234, 234, 1);
}

.box1{
    width: 90%;
    background-color: white;
    margin: 20px auto;
    padding: 10px;

}

.messages{
    width: 60%;
    margin: auto;
    justify-content: center;
}





Button{
    margin: auto;

}

th:first-child{
    width: 70%;
}

tr:last-child{
    border-bottom: 2px rgb(231, 231, 231) solid;
}
