@import "../Helpers/glyphicon.css";
body{
    background-color: rgba(234, 234, 234, 1);
}

.box{
    text-align: center;
    width: 100%;
}

.navBar{
    background-color: rgb(148, 146, 146);
    width: 100%;
    height:70px;
    text-align: center;
    
}

.close {
    position: relative;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .offcon .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  
.navBarCon{
    width: 90%;
    margin:auto;
}

.localization{
    font-weight: 600;
    padding-bottom: 5px;
}

.ofdesc hr{
    height: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.logo{
    font-weight: bold;
    color: rgb(243, 177, 53);
}

.options{
    float:right;

}



.ofbox{
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.offcon{
    width:100%;
    margin-top: 30px;
    padding: 10px;
    border: 1px lightgray solid;
    border-radius: 5px;
}

.offoto{
    width:40%;
    float:left;

}

.offoto img{
    width:50%;
}

.ofdesc{
    width:40%;
    float:left;
    margin-bottom: 10px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

.ofinf{
    font-size: 16px;
    color: gray;
    font-weight: normal;
}

.ofdes{
    margin-top: 2%;
    width: 20%;
    float: left;
    
}

.ofprice{
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
    color:red;
}

.ofbutton{
    margin-top: 10%;
    width:40%;
    margin-left: 30%;
}

.ofbutton button{
    margin-bottom:10px;
    border: none;
    background-color: orange;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    color: white;
}

.ofbutton button:hover{
    margin-bottom:10px;
    border: none;
    background-color: rgb(255, 115, 0);
    width: 100%;
    height: 40px;
    border-radius: 7px;
    color: black;
}

.updatbut{
    height: 30px; 
    width: 10%;
    margin-top: 1px;
    float: right;
}

.updatbut button{
    height: 30px; 
    border: none;
    background: none;
}

.offdel{
    margin-top: -30px;
    
    
}

.offdel .trash{
    margin-left: 70%;
    font-size: 25px;
}
