@import "../Helpers/glyphicon.css";
body{
    background-color: rgba(234, 234, 234, 1);
}

.box{
    text-align: center;
    width: 100%;
}

.navBar{
    background-color: rgb(148, 146, 146);
    width: 100%;
    height:70px;
    text-align: center;
    
}


.navBarCon{
    width: 90%;
    margin:auto;
}


.menud {
    display: none;
}

.menu:hover .menud{
    display: inherit;
    position: absolute;
    background-color: black;
    
}



.logo{
    font-weight: bold;
    color: rgb(243, 177, 53);
}

.options{
    float:right;

}




.contentbox{
    clear:both;
    width: 100%;
    margin:auto;
    padding:1px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("../../fotos/back.jpg");
    background-position: center;
    background-size: cover;

}


.description {
    clear:both;
    margin-top: 100px;
    color:white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
    
.subdescription {
    clear:both;
    padding: 0;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchbox{
    clear:both;
    width: 90%;
    height: 150px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color:   rgba(234, 234, 234, 1);
    display: block;
   
}

.searchbox select{
    width:30%;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    appearance: none;

}
.searchbox input{
    width:70%;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;

}

.searchbox button{
    background-color: rgb(243, 177, 53);
    color: white;
    border:none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    padding: 10px;


}

.searchbox button:hover{
    background-color: orangered;
    color: black;
}

.offerts{
    background-color:  rgba(234, 234, 234, 1);
    width: 90%;
    margin: auto;
    padding-top: 100px;
}
.offerts1{
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px;
    text-align: left;
}
.emptyOffer{
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: none;
    font-weight: 600;
    font-size: 20px;
}
.searchFoto img {
    width: 85% !important;
}
.random{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.offerts p{
    text-align: center;
}

.offert{
    float: left;
    width: calc((100% / 3) - 20px);
    margin: 10px;
    border: solid 1px  rgb(160, 158, 158);
    border-radius: 5px;
    
}

.offert:hover{
    transform: scale(1.01);
    background-color: rgba(151, 151, 151, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-color: black;
}

.offert img{
    width: 100%;
    padding: 3px;

}

.offert .ofer{
    width: 100%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}

.offert .cost {
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.offert button{
    margin-bottom:10px;
    border: none;
    background-color: orange;
    width: 80%;
    height: 40px;
    border-radius: 7px;
    color: white;
}

.login{
    color: white;
}

.dropdown-menu{
    left: -90px;
}

a{
    font-size: 16px !important;
    font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

@media screen and (max-width: 800px)
{
    .searchbox{
        clear:both;
        width: 90%;
        height: 100px;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 5px;
        background-color:   rgba(234, 234, 234, 1);
        display: block;
       
    }
    
    .searchbox select{
        width:70%;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        border: none;
        appearance: none;
    
    }
    .searchbox input{
        width:65%;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        border: none;
    
    }
    
    .searchbox button{
        background-color: rgb(243, 177, 53);
        color: white;
        border:none;
        border-radius: 5px;
        height: 35px;
        width: 30%;
        font-size: 14px;
        padding: 10px;
    
    
    }


    .offert{
        float: left;
        width: 100%;
        margin: 10px;
        border: solid 1px  rgb(160, 158, 158);
        border-radius: 5px;
        
    }

    .offert img{
        float: left;
        width: 40%;
        padding: 3px;
    
    }
    
    .offert p{
        float:left;
        width: 50%;
        margin-left: 5%;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        float: left;
    }

    .offert .opis{
        text-align: left;
    }
    
    .offert .cost {
        font-size: 20px;
        color: red;
        font-weight: bold;
        text-align: right;
    }

    
    .offert button{
        float: right;
        margin-right: 5%;
        margin-bottom:10px;
        border: none;
        background-color: orange;
        width: 30%;
        height: 40px;
        border-radius: 7px;
        color: white;
    }
    
    .offerdet{
        width: 80%;
        text-align: left;
    }
}

@media screen and (max-width: 490px)
{
    .searchbox{
        clear:both;
        width: 90%;
        height: 150px;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 5px;
        background-color:   rgba(234, 234, 234, 1);
        display: block;
       
    }
}